.site-menu span.fa {
    color: #FFF;
    font-size: 14px;
}
.site-menu > li {
    padding-bottom: 10px;
}
.site-menu > li ul.sub-menu {
    display: none;
    position: absolute;
    top: auto;
    width: 100%;
    max-width: 320px;
    padding: 10px;
    margin-left: -20px;
    margin-top: 10px;
    background: rgba(0,0,0,0.333);
}
.site-menu > li:hover ul.sub-menu {
    display: block;
}
.site-menu > li ul.sub-menu li a {
    color: #FFF;
    display: block;
    text-decoration: none;
    padding: 8px;
}
.site-menu > li ul.sub-menu li a:hover,
.site-menu > li ul.sub-menu li a:focus {
    background: rgba(0,0,0,0.7);
}
